body {
    margin: 0;
    padding: 0;
    font-family: "Big Shoulders Display", cursive;
    height: 100px;
  }
  .container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container video {
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
  }
  .container .content {
    position: relative;
    z-index: 1;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
  }
  .container .content h1 {
    margin: 0;
    padding: 0;
    font-size: 5.5em;
    text-transform: uppercase;
    color: #ffff;
  }
  .container .content p {
    font-size: 1.5em;
    color: #ffff;
  }
  .container .content img {
    width: 40px;
    height: 40px;
  }

  .results {
    display: flex;
    height: 30vh;
    flex-direction: column;
    justify-content: space-between;
  }